<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
	<link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
	<ul class="cards">
		<% for (let i = 0; i < info.drinks.length; i++) { %>
			<section class="card cardFront">
				<section class="section">
					<h1><%= info.drinks[i].strDrink %></h1>
				</section>
				<section class="section">
					<span>Catagory: <%= info.drinks[i].strCategory %></span>
				</section>
				<section class="section">
					<span>Glass: <%= info.drinks[i].strGlass %></span>
				</section>
			</section>
			
			<section class="card cardBack flexContainerRow">
				<section class="section ingredients">
					<h2>Ingredients:</h2>
					<ul>
						<!-- for (let ii = 0; info.drinks[i]['strIngredient' + ii]; ii++) { -->
						<% for (let ii = 0; ii < 10; ii++) { %>
							<span class="measurement"><%= info.drinks[i]['strMeasure' + ii] %></span>
							<span class="ingredient"><%= info.drinks[i]['strIngredient' + ii] %></span>
						<% } %>
					</ul>
				</section>
				<section class="section instructions">
					<h2>Instructions:</h2>
					<ol type="I">
						<% let instructionsArray = info.drinks[i].strInstructions.split('.') %>
						<% for (let i = 0; i < instructionsArray.length - 1; i++) { %>
							<li class="instruction"> <%= instructionsArray[i] + '.' %></li>
						<% } %>
					</ol>
				</section>
			</section>
		<% } %>
	</ul>



    <script src='js/main.js'></script>
</body>
</html>